@charset "uft-8";


/* paleta de cores */
    .Tropical-Fruit-Punch-1-hex { color: #146152; }
    .Tropical-Fruit-Punch-2-hex { color: #B4CF66; }
    .Tropical-Fruit-Punch-3-hex { color: #FF5A33; }

    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box; /* para a borda fazer parte da largura */
    }
     body,html{ 
        background-color:#B4CF66;
        height: 100vh; /* 100% da tela */
        width: 100vw;
     }
     main{ height: 100vh;
     width: 100vw; 
     position: relative; /* centralizar*/} 
    
     section#login { position: absolute; 
        top: 50%;
        left: 50%;
        
        background-color: white;
     width: 250px; /*altura */
     height: 540px; /*largura */
     border-radius: 20px; /*bordas*/
     overflow: hidden; /* a imagem fica dentro da borda */
      box-shadow:0px 0px 10px #00000086;
      transition: width 1s, height 1s; /* tranziçao entre uma foto e outra media query*/
      transition-timing-function: ease; /*suavizar tranzição*/
      transform: translate(-50%,-50%);
     }
     section#login>div#imagem { background-image: url(../imagens/pexels-cottonbro-10131798\ \(1\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px; /* tamanho da imagem*/
        display: block;
       
      }
      section#login> div#formulario{ padding: 10px;
        display: block;
        float: left;
     } 
     div#formulario>h1 { font-size: 2em;
     text-align: center;
     margin-bottom: 10px;}

     div#formulario>p { font-size: 1em; 
     margin: 20px 0px;}

     form>div.campo { background-color: #146152;
        border: 2px solid #114466a1 ;
    display: block;
     width: 100%;
     height: 40px;
     border-radius: 8px;
     margin: 5px 0px;

     }
     div.campo>label { display: none;}

     div.campo>.material-symbols-outlined{ color: white; 
     background-color: black;
     font-size: 2em;
     width: 40px;
     padding: 3px;}
      
     div.campo>input:focus-within { background-color: white;}

     div.campo> input { background-color: #c3dd75;
     font-size: 1em;
     width:calc(100% - 50px); 
     height:100%;
     
     border:  0px;
     border-radius: 8px;
     padding: 4px;
     transform: translateY(-12px);
     }
     

        form > input[type=submit]{ display: block; 
        font-size: 1em;
     width: 100%;
     height: 40px;
     background-color: #FF5A33;
     color: white;
      border: none;
     border-radius: 5px; 
    cursor: pointer; }
      
     form> input[type=submit]:hover { background-color: #146152;}

     form> a.botao { display: block;
    text-align: center;
font-size: 1em;
 width: 100%; 
 height: 40px;
background-color: #ff583380;
 border: 1px solid #ff5833d0;
 border-radius: 7px;
 text-decoration: none;
color:#146152;
padding-top: 5px;
margin-top: 5px;}

 form>a.botao:hover { background-color:#B4CF66;}
