@charset "uft-8";


/* paleta de cores */
    .Tropical-Fruit-Punch-1-hex { color: #146152; }
    .Tropical-Fruit-Punch-2-hex { color: #B4CF66; }
    .Tropical-Fruit-Punch-3-hex { color: #FF5A33; }
    
 